footer {
  background-color: aliceblue;
}
.footer-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.footer-col {
  margin-bottom: 20px;
  padding: 20px;
}
.footer-col .text {
  text-indent: 15px;
  text-align: justify;
}
.footer-col p {
  line-height: 1.5;
  margin: 20px 0;
  text-align: left;
  max-width: 300px;
}
.footer-col p span {
  /* next line */
  margin-top: 5px;
  display: block;
  margin-bottom: 5px;
}
.footer-col ul li{
  list-style-type: none;
  margin: 5px;
}
.footer-col a {
  color: #333;
  text-decoration: none;
}
.footer-col a:hover {
  color: #007bff;
}
.footer-col h2 {
  margin-bottom: 20px;
}

/* responsive design for mobile view and tab view */
@media screen and (max-width: 850px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }
  .footer-col {
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
  }
  .footer-col h2 {
    margin-bottom: 10px;
  }
}
