* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #ffffffd4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  padding: 15px;
  z-index: 100;
}
header .topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav ul {
  list-style-type: none;
}
.topnav ul li {
  float: left;
  margin-right: 20px;
}
.topnav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}
.topnav ul li a:hover {
  color: #007bff;
  text-decoration: underline;
}
.topnav ul li a.active {
  color: #007bff;
  font-weight: 800;
}
.search-container {
  float: right;
}
.search-container input[type=text] {
  padding: 6px 10px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 10px;
}
.search-container .btn {
  padding: 6px 10px;  
  font-size: 20px;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search-container .btn {
  position: relative;
  top: 5px;
}
.search-container .icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.menu-icon button {
  font-size: 24px;
  color: #333;
  background-color: transparent;
  border: none;
}
.menu-icon {
  display: none;
}
.active {
  color: #007bff;
}

@media (max-width: 1110px) {
  .search-container {
    flex-direction: column;
  }
  .nav-list {
    width: 100%;
    position: absolute;
    top: 30%;    
    display: flex;
    backdrop-filter: blur(15px);
    flex-direction: column;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    display: none;
  }
  .nav-list.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  .menu-icon {
    display: block;
  }
  .topnav ul li {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 450px) {
  .search-container input[type=text] {
    font-size: 14px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 0;
  }
  .topnav ul {
    top: 25%;
    font-size: 16px;
  }
}