.footer-1 {
  margin: 20px;
}

.bottom-navbar {
  background-color: #4caf50;
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s ease;
  position: sticky;
  bottom: 0;
  z-index: 0;
  /* overflow-x: auto; */
  /* white-space: nowrap; */
}

.bottom-navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  position: relative;
  padding: 8px 16px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 4px;
  display: inline-block;
}

.bottom-navbar a:hover,
.bottom-navbar a:focus {
  color: #4caf50;
  background-color: white;
  outline: none; /* Prevent default browser outline */
}

.bottom-navbar a:focus {
  box-shadow: 0 0 4px #4caf50; /* Add focus outline */
}

.bottom-navbar::-webkit-scrollbar {
  height: 6px;
}

.bottom-navbar::-webkit-scrollbar-thumb {
  background-color: #388e3c;
  border-radius: 10px;
}

.bottom-navbar::-webkit-scrollbar-thumb:hover {
  background-color: #4caf50;
}

@media (max-width: 800px) {
  .bottom-navbar {
    padding: 10px;
    /* width: 90%; */
  }

  .bottom-navbar a {
    margin: 0 10px;
    font-size: 14px;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .bottom-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 8px;
  }

  .bottom-navbar a {
    margin: 5px;
    font-size: 12px;
    padding: 4px 8px;
  }

  .bottom-navbar span {
    display: none; /* Hide separators on very small screens */
  }
}
