:root {
  --main-green: #4caf50; /* Primary Green */
  --teal: #00897b; /* Secondary Teal */
  --light-beige: #fdf9f3; /* Soft Background */
  --gray-bg: #f5f5f5; /* Light Gray Background */
  --dark-gray: #444444; /* Text Color */
  --card-shadow: rgba(0, 0, 0, 0.1);
  --hover-green: rgba(76, 175, 80, 0.2); /* Green Hover Effect */
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.contact-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact-info {
  width: 500px;
  height: 300px;
  font-size: 18px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.contact-info h2 {
  text-align: center;
  margin-bottom: 30px;
  color: rgba(238, 130, 238, 0.534);
}
.contact-info p {
  text-align: center;
  margin-bottom: 30px;
}
.contact-msg {
  background-color: var(--background-color-first);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: auto;
}
.contact-msg h2 {
  text-align: center;
  margin-bottom: 20px;
}
.contact-msg input ,textarea  {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-color-first);
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}
.contact-msg .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.contact-msg button {
  width: 150px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: red;
  color: var(--color);
  border: none;
  outline: none;
  cursor: pointer;
}
.contact-msg button:hover {
  background-color: rgba(139, 0, 0, 0.676);
}
.contact-msg span, b {
  color: var(--text-first-color);
}
.contact-msg span {
  color: rgba(255, 0, 0, 0.459);
  margin-top: 10px;
}
.bouncing-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #387012;
  border-radius: 50%;
  animation: bouncing-loader 1s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
.bouncing-loader > div:nth-child(4) {
  animation-delay: 0.6s;
}
@media only screen and (max-width: 768px) {
  .contact-flex {
    flex-direction: column;
    gap: 20px;
  }
  /* .contact-info {
    width: 100%;
    padding: 10px;
    box-shadow: none;
  } */
  .contact-msg {
    box-shadow: none;
    padding: 20px;
    height: auto;
  }
}
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 206, 206, 0.1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(247, 192, 133, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}